body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-image: url("/assets/home/quizbg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.result-box {
  background-color: #ffffff;
  border-radius: 16px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  padding: 40px 60px;
  text-align: center;
  width: 380px;
  backdrop-filter: blur(6px);
}

.result-box h2 {
  font-size: 38px;
  margin-bottom: 20px;
  color: #000000;
}
.percentage-container {
  font-size: 36px;
  font-weight: bold;
  color: #000000;
  margin: 15px 0;
}

.score-text {
  display: block;
  margin-top: 10px;
  font-size: 18px;
  color: #000000;
}

.buttons {
  margin-top: 25px;
}
a {
  text-decoration: solid;
  background-color: #268a3c;
  color: #ffffff;
  padding: 10px 20px;
  margin: 5px;
  border: #268a3c;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.3s ease;
}

.buttons a:hover {
  background-color: #13481f;
  color: #fff;
}
