      @import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700;800&display=swap");

:root {
  font-family: "Monrope",sans-serif;
  --primary-color: #d3e9f4;
}
:root {
  --backGround-color: rgb(29, 155, 27);
}
body {
  background-image: url(/assets/backGround.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 5rem;
  text-align: center;
  padding: 0 3rem;
  background: linear-gradient(var(--primary-color));
}
.bodySection {
  margin: auto;
  text-align: center;
  height: 460px;
}
.btn {
  background-color: var(--backGround-color);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  margin-left: 10px;
  padding: 0.8rem 2rem;
  border-radius: 9px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.websiteLogo {
  width: 200px;
}
.hello {
  font-size: 35px;
  margin: 20px;
}
.hello-describe {
  font-size: 15px;
  margin: 20px;
}
.getStarted {
  margin: 80px;
}
.getStartedButton {
  background-color: var(--backGround-color);
  color: rgb(255, 255, 255);
  font-size: 1.5rem;
  padding: 1rem 3rem;
  border-radius: 9px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--primary-color);
  height: 5rem;
  text-align: center;
  padding: 0 3rem;
  background: linear-gradient(var(--primary-color));
}
.Partiners {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
}

.Partiners img {
  height: 3rem;
  filter: grayscale(1);
  opacity: 0.9;
}
.Partiners img:hover {
  filter: grayscale(0);
  opacity: 1;
  transform: scale(1.1);
  transition: all 0.3s ease;
}

/* ///////////////////////////////////////////// SingUP Page */

.signUpForm,
.loginForm {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 60px;
}
.input {
  width: 50%;
  border-radius: 15px;
  border: none;
  height: 20px;
  padding: 15px;
}
.alredyHave {
  /* margin-right: 200px; */
  margin: 0 auto;
  font-size: 12px;
}
label {
  color: black;
  font-weight: 800;
  font-size: 20px;
  width: 20px;
}
.submit,
.loginSubmit {
  background-color: var(--backGround-color);
  color: rgb(255, 255, 255);
  font:1.5rem "monrope";
  padding: 0.5rem 2rem;
  border-radius: 15px;
  transition: 0.3s;
  border: none;
  cursor: pointer;
  width: 50%;
  margin-left: 10.4rem;
}
.submit:hover {
  background-color: rgb(18, 89, 17);
}
input:focus {
  border-color: #007bff;
  outline: none;
}

.form-group {
  display: flex;
  align-items: center;
  margin-left: 3rem;
  gap: 6rem;
}
.nameInput {
  width: 55%;
  display: flex;
  gap: 1rem;
  margin-left: 3rem;
}
.nameIn {
  width: 50%;
  border-radius: 30px;
  border: none;
  height: 20px;
  padding: 15px;
  margin-left: 80px;
}
.imgJoin {
  position: absolute;
  right: 30px;
  top: 150px;
  width: 35%;
}
.profile {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.profileImg {
  border-radius: 50px;
  width: 50px;
  height: 50px;
}
.quizDiv {
  width: 90%;
  height: 35rem;
  background-color: white;
  margin: 3rem;
  border-radius: 10px;
}
.timerAndSubmit {
  height: 140px;
  display: flex;
  flex-direction: row;
}
.submitQuiz {
  background-color: var(--backGround-color);
  position: fixed;
  color: rgb(255, 255, 255);
  font-size: 1rem;
  margin: 50px 20px auto auto;
  transition: 0.3s;
  height: 20px;
  border-radius: 9px;
  border: none;
  text-decoration: none;
  cursor: pointer;
}
.submitQuiz:hover {
  background-color: rgb(18, 89, 17);
}
.timer {
  margin: 10px;
}
.question {
  display: flex;
  flex-direction: column;
  align-items: start;
  margin-left: 15px;
}
.question h4 {
  margin-block-start: 1.5em;
  margin-block-end: 0em;
}
.questionText {
  width: 90%;
  padding: 0;
  text-align: start;
}
.answers {
  width: 60%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  margin-left: 15px;
  gap: 1rem;
}
.answerBtn {
  width: 20rem;
  text-align: start;
  height: 40px;
  border-radius: 50px;
  border-width: 1px;
  background-color: white;
  box-shadow: inset 2px 2px 5px var(--primary-color);
  cursor: pointer;
}
.answerBtn:hover {
  background-color: var(--primary-color);
}
.nextAndBrev {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: start;
  margin: 25px;
  margin-top: 4rem;
  gap: 0.5rem;
}
.numBtn {
  width: 60px;
  height: 35px;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgb(135, 134, 134);
  font-size: 17px;
  font-weight: 300;
  cursor: pointer;
  background-color: white;
}
.prevBtn,
.nextBtn,
.mark-btn {
  width: 80px;
  height: 35px;
  border-radius: 8px;
  border-width: 1px;
  border-color: rgb(135, 134, 134);
  font-size: 20px;
  font-weight: 350;
  cursor: pointer;
  background-color: gray;
  color: white;
}
.validationMassage {
  text-align: left;
  margin: 0;
  margin-left: 12%;
  color: red;
  font-size: 15px;
}
.massageAndSignup {
  display: flex;
  flex-direction: row;
}

/* ////////home */
.menu {
  display: flex;
  text-align: center;
  gap: 8px;
  text-decoration: none;
  color: black;
  font-weight: 500;
}
.icon {
  /* text-align: center; */
  margin: 16px auto;
  color: var(--backGround-color);
}
.menuDiv {
  display: flex;
  gap: 3rem;
}
.profileHome {
  position: absolute;
  right: 20px;
  top: 10px;
}
.updates {
  display: flex;
  flex-direction: row;
  gap: 5px;
  height: 39%;
}
.update1,
.update2 {
  background-color: white;
  border-radius: 10px;
  margin: 30px;
  display: flex;
  flex-direction: row;
}
.updateText {
  font-size: 80%;
  padding: 10px;
}
.updateImg {
  width: 45%;
}
.update1:hover {
  transform: translateY(-1rem);
  transition: 1s;
  box-shadow: 0 4.2rem 5.4rem rgb(221, 220, 207);
}
.activity {
  background-color: aliceblue;
  width: 60%;
  text-align: center;
  margin-left: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}
.activityDiv {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 25%;
  text-align: center;
}
.activityDivText {
  margin-left: 10px;
}
.activityTiltle {
  font-size: 16px;
  font-weight: 700;
  margin: 0 auto;
  margin-top: 25px;
  text-align: left;
  color: rgb(110, 110, 110);
}
.activityNum {
  font-size: 20px;
  font-weight: 700;
  margin: 2px auto;
  text-align: left;
}
.activityIcon,
.activityIcon2,
.activityIcon3,
.activityIcon4 {
  color: var(--backGround-color);
  font-size: 2rem;
  text-align: center;
  margin: 20px 0 10px 10px;
  padding: 0.5rem;
  border: 0.5px solid black;
  border-color: rgb(150, 183, 183);
  border-radius: 10px;
}
.activityIcon2 {
  color: #ba7ce7;
}
.activityIcon3 {
  color: #e8cb28;
}
.activityIcon4 {
  color: #e4683b;
}
.activityIconDiv {
  width: 3rem;
}
.activityTi {
  text-align: left;
  font-size: 20px;
  margin: 0;
  margin-left: 27px;
}
.examsDiv{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
}
.imgHome{
    width: 40%;
    margin: 20px;
    background-image: url(/assets/student-11208.png);
    background-size: cover;  
    
}
.exams {
  width: 80%;
  height: 300px;
  background-color: #d3e9f4;
}
.exams {
  background-color: aliceblue;
  width: 60%;
  text-align: center;
  margin-left: 25px;
  border-radius: 15px;
  display: flex;
  flex-direction: row;
}
.examDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  width: 44%;
  height: 80%;
  text-align: center;
  display: flex;
  flex-direction: column;
  background-color: var(--primary-color);
  margin: 15px;
  border-radius: 10px;
  align-items: center;
}
.examTitle {
  font-size: 20px;
  margin: 0 auto;
  margin-top: 7px;
}
.examDescription {
  font-size: 10px;
  margin: 0 auto;
}
.examTime {
  font-size: 13px;
}
.startExam {
  display: flex;
  gap: 6px;
  text-decoration: none;
  align-items: center;
  font-size: 20px;
  margin: 0 auto;
}
.startIcon {
  color: var(--backGround-color);
  font-size: 1rem;
  text-align: center;
  padding: 0.5rem;
  border: 0.5px solid black;
  border-color: rgb(150, 183, 183);
  border-radius: 10px;
}
/* .startButton{
    font-size: 25px;
    margin-left: 7px;
    margin-top: 23px;
} */
/* .examImg{
} */
.imgExamDiv {
  margin: 0 auto;
  width: 100%;
  height: 80px;
  /* background-color: red; */
  background-image: url(/assets/login.png);
  background-size: cover;
}

/* marked list */

.marked-list {
  position: absolute;
  right: 25px;
  top: 100px;
  background: #f2f2f2;
  border: 1px solid #cfcfcf;
  border-radius: 20px;
  padding: 40px;
  width: 20%;
  height: 30%;
}

.marked-list h3 {
  font-size: 15px;
  margin-bottom: 8px;
  color: #000000;
  text-align: center;
}

.question-buttons {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  justify-content: center;
}

.marked-btn {
  background: #fff;
  color: #000000;
  border: 1px solid #bbb;
  border-radius: 5px;
  padding: 4px 8px;
  cursor: pointer;
  font-size: 14px;
}

.marked-btn:hover {
  background: #8f8e8e;
}

.marked-btn.marked {
  background-color: #ffd966;
  border-color: #e0b800;
  color: #000;
  font-weight: bold;
}
.result-message {
  font-size: 1.2rem;
  font-weight: 500;
  color: #000000;
  margin-top: 1rem;
}
