:root {
  --primary-color: #d3e9f4;
}
:root {
  --backGround-color: rgb(3 127 197); 
}
body{
    background-image: url(/assets/backGround.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 5rem;
    text-align: center;
    padding: 0 3rem;
    background: linear-gradient(var(--primary-color));
}
.bodySection{
    margin: auto;
    text-align: center;
    height: 460px;
}
 .btn{
    background-color: var(--backGround-color);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-left: 10px;
    padding: .8rem 2rem;
    border-radius: 9px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.websiteLogo{
    width: 200px;
}
.hello{
    font-size: 35px;
    margin: 20px;
}
.hello-describe{
    font-size: 15px;
    margin: 20px;
    
}
.getStarted{
    margin: 80px;

}
.getStartedButton{
     background-color: var(--backGround-color);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 1rem 3rem;
    border-radius: 9px;
    border: none;
    text-decoration: none;
    cursor: pointer;
}
.footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    height: 5rem;
    text-align: center;
    padding: 0 3rem;
    background: linear-gradient(var(--primary-color));
}
.Partiners{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    margin: 0 auto;
}

.Partiners img{
    height: 3rem;
    filter: grayscale(1);
    opacity: 0.9;

}
.Partiners img:hover {
    filter: grayscale(0);
    opacity: 1;
    transform: scale(1.1);
    transition: all 0.3s ease;
}

/* ///////////////////////////////////////////// SingUP Page */

.signUpForm{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 60px;
}
.input{
    width: 50%;
    border-radius: 30px;
    border: none;
    height: 20px;
    padding: 15px;
}
.alredyHave{
    /* margin-right: 200px; */
    margin: 0 auto;
    font-size: 12px;
}
label{
    color: black;
    font-weight: 800;
    font-size: 20px;
    width: 20px;
}
.submit{
     background-color: var(--backGround-color);
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    padding: 0.5rem 2rem;
    border-radius: 50px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    width: 50%;
    margin-left: 10.4rem;
}
.submit:hover{
    background-color: blue;
}
input:focus {
  border-color: #007bff;
  outline: none;
}

.form-group{
    display: flex;
    align-items: center;
    margin-left: 3rem;
     gap: 6rem;
}
.nameInput{
    width: 55%;
    display: flex;
     gap: 1rem;
    margin-left: 3rem;

}
.nameIn{
    width: 50%;
    border-radius: 30px;
    border: none;
    height: 20px;
    padding: 15px;
    margin-left: 80px;
}
.imgJoin{
    position:absolute;
    right: 30px;
    top: 150px;
    width: 35%;
}
.profile{
    border-radius: 50px;
    width:50px;
    height: 50px;
}
.profileImg{
    border-radius: 50px;
    width:50px;
    height: 50px; 
}
.quizDiv{
    width: 90%;
    height: 35rem;
    background-color: white;
    margin: 3rem;
    border-radius: 10px;
}
.timerAndSubmit{
       height: 140px;
    display: flex;
    flex-direction: row;
        
    
}
.submitQuiz{
    background-color:var(--backGround-color);
    color: rgb(255, 255, 255);
    font-size: 1rem;
    margin-top: 30px;
    height: 20px;
    border-radius: 9px;
    border: none;
    text-decoration: none;
    cursor: pointer;
    
}
.submitQuiz:hover{
      background-color:var(--backGround-color);
}
.timer{
    margin: 10px;
    
}
.question{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-left: 15px;
}
.question h4{
    margin-block-start: 1.5em;
    margin-block-end: 0em;
}
.questionText{
    width: 90%;
    padding: 0;
    text-align: start;
}
.answers{
    width: 60%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    margin-left: 15px;
    gap: 1rem;
    
}
.answerBtn{
    width: 20rem;
    text-align: start;
    height: 40px;
    border-radius: 50px;
    border-width: 1px;
    background-color: white;
    box-shadow: inset 2px 2px 5px var(--primary-color);
    cursor: pointer;


}
.answerBtn:hover{
    background-color: var(--primary-color);

}
.nextAndBrev{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: start;
    margin: 25px;
    margin-top: 4rem;
    gap: .5rem;
}
.numBtn{
    width: 60px;
    height: 30px;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgb(135, 134, 134);
     font-size: 17px;
    font-weight: 300;
    cursor: pointer;
    background-color: white;
}
.prevBtn ,.nextBtn{
    width: 75px;
    height: 30px;
    border-radius: 8px;
    border-width: 1px;
    border-color: rgb(135, 134, 134);
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    background-color: var(--primary-color);

    
}
